<!-- <div class="container">
  <h1 class="text-center">Games Of Thrones</h1>
  <hr>
    <div class="row" *ngIf="allDataq" > 
        <div  class="col-md-4" *ngFor="let blog of allDataq"> 
  <div  *ngIf="blog.url.indexOf('characters')> -1"  >
<div class="card" class="characters" >
  <img class="card-img-top img-size" src="assets/images/characters.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Characters</h5>
    <p class="card-text"><span>URL: </span>{{blog.url}}</p>
    <p class="card-text">{{blog.name}}</p>
    <p class="card-text">{{blog.gender}}</p>
    <p class="card-text">{{blog.born}}</p>
    <p class="card-text">{{blog.died}}</p>
    <p class="card-text">{{blog.culture}}</p>
    <p class="card-text">{{blog.titles}}</p>
    <p class="card-text">{{blog.aliases}}</p>
    <p class="card-text">{{blog.father}}</p>
    <p class="card-text">{{blog.mother}}</p>
    <p class="card-text">{{blog.spouse}}</p>
    <p class="card-text">{{blog.allegiances}}</p>
    <p class="card-text">{{blog.books}}</p>
    <p class="card-text">{{blog.povBooks}}</p>
    <p class="card-text">{{blog.tvSeries}}</p>
    <p class="card-text">{{blog.playedBy}}</p>
    <a href="#" class="btn btn-primary">More ...</a>
  </div>
</div>

</div>
<br />
<div *ngIf="blog.url.indexOf('books')>-1" class="books">
<div class="card">
  <img class="card-img-top img-size" src="assets/images/books.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Books</h5>
    <p class="card-text">{{blog.url}}</p>
    <p class="card-text">{{blog.name}}</p>
    <p class="card-text">{{blog.isbn}}</p>
    <p class="card-text">{{blog.authors}}</p>
    <p class="card-text">{{blog.numberOfPages}}</p>
    <p class="card-text">{{blog.publisher}}</p>
    <p class="card-text">{{blog.country}}</p>
    <p class="card-text">{{blog.mediaType}}</p>
    <p class="card-text">{{blog.released}}</p>
    <p class="card-text">{{blog.characters}}</p>
    <p class="card-text">{{blog.povCharacters}}</p>
    <a href="#" class="btn btn-primary">More ...</a>
  </div>
</div>
</div>
<br />
<div  *ngIf="blog.url.indexOf('houses')>-1" class="houses">
<div class="card" >
  <img class="card-img-top img-size" src="assets/images/houses.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Houses</h5>
    <p class="card-text">{{blog.url}}</p>
    <p class="card-text">{{blog.name}}</p>
    <p class="card-text">{{blog.region}}</p>
    <p class="card-text">{{blog.coatOfArms}}</p>
    <p class="card-text">{{blog.words}}</p>
    <p class="card-text">{{blog.titles}}</p>
    <p class="card-text">{{blog.seats}}</p>
    <p class="card-text">{{blog.currentLord}}</p>
    <p class="card-text">{{blog.heir}}</p>
    <p class="card-text">{{blog.overlord}}</p>
    <p class="card-text">{{blog.founded}}</p>
    <p class="card-text">{{blog.founder}}</p>
    <p class="card-text">{{blog.diedOut}}</p>
    <p class="card-text">{{blog.ancestralWeapons}}</p>
    <p class="card-text">{{blog.cadetBranches}}</p>
    <p class="card-text">{{blog.swornMembers}}</p>
    <a href="#" class="btn btn-primary">More ...</a>
  </div>
</div>
</div>
<br />
</div>
<br/>
</div>

</div> -->
